appdirs==1.4.4
appnope==0.1.2
asgiref==3.4.1
astroid==2.6.2
backcall==0.2.0
black==21.6b0
certifi==2021.5.30
click==8.0.1
dataclasses==0.8
decorator==5.0.9
dj-database-url==0.5.0
Django==3.2.5
django-rest-framework==0.1.0
djangorestframework==3.12.4
dnspython==2.1.0
gunicorn==20.1.0
importlib-metadata==4.6.1
ipython==6.4.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
ptyprocess==0.7.0
Pygments==2.9.0
pylint==2.9.3
pymongo==3.11.4
pytz==2021.1
regex==2021.7.6
simplegeneric==0.8.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
traitlets==4.3.3
typed-ast==1.4.3
typing-extensions==3.10.0.0
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
zipp==3.5.0
